<div fxHide.xs fxHide.sm>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Max Dvorak</mat-card-title>
      <mat-card-subtitle>{{ (newPosition$ | async) || 'Default Position' }}</mat-card-subtitle>
    </mat-card-header>
    <img src="../../../assets/my-photo.jpg" alt="photo">
    <mat-card-content class="card-content">
      <p>
        So, my name is Max. I'm a citizen of a beautiful city Rivne. I'm a student of National University of Water and Environmental Engineering.
        I'm very friendly and outgoing person. I love to play and watch football, to play chess, and i'm also a big fan of cardboard games. And i also play drums.
      </p>
      <p *ngFor="let info of (additionalInfo$ | async) || []">{{ info }}</p>
      <button mat-icon-button class="insta-button"> 
        <a href="https://www.instagram.com/max.dvorak/" target="_blank" rel="noopener noreferrer">
        <mat-icon>
          <img class="image-inst" src="https://www.svgrepo.com/show/308994/instagram-social-media.svg" alt="insta">
        </mat-icon>
        </a>
      </button>
    </mat-card-content>
  </mat-card>
</div>

<div fxShow.xs fxShow.sm fxHide>
  <app-card-small [additionalInfo]="(additionalInfo$ | async) || []" [newPosition]="(newPosition$ | async) || 'Default Position'"></app-card-small>
</div>
