<div fxLayout="column" fxLayoutAlign="space-around center" fxHide fxShow.xs fxShow.sm>
    <mat-card class="card card-small" >
        <mat-card-content>
            <h1>Hi stranger!</h1>
            <p>This is a home page of my little application about me. 
                You can tap "About me button" that you see above to read some info about me.
            </p>
        </mat-card-content>
    </mat-card>
</div>

<div fxLayout="column" fxLayoutAlign="space-around center" fxHide fxShow.xs  fxShow.sm>
    <mat-card class="card card-small">
        <mat-card-content>
            <p>This is the first card to show responsivnes in the home page</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card card-small">
        <mat-card-content>
            <p>This is the second card to show responsivnes in the home page</p>
        </mat-card-content>
    </mat-card>
</div>