<!-- <nav class="nav-bar">
    <h1>SoftServe Hometask</h1>
    <span>
        
        
        
    </span>
</nav> -->

<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center">

        <span>SoftServe Hometask</span>
        <span class="example-spacer"></span>
        <span><a routerLink="/" class="links" fxHide.xs>Home</a></span>
        <span><a routerLink="/about" class="links" fxHide.xs >About me</a></span>
        <span><a routerLink="/edit" class="links" fxHide.xs>Edit</a></span>

        <div class="small-icons">
            <span><a routerLink="/" class="links-small" fxShow.xs fxHide><mat-icon>home</mat-icon></a></span>
            <span><a routerLink="/about" class="links-small" fxShow.xs fxHide><mat-icon>person-pin</mat-icon></a></span>
            <span><a routerLink="/edit" class="links-small" fxShow.xs fxHide><mat-icon>edit</mat-icon></a></span>
        </div>
        
    </mat-toolbar-row>

  </mat-toolbar>